<div>
  <app-header></app-header>

  <section>
    <h2><span>Create</span> Feed</h2>

    <form action="">
      <div class="input-container">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" placeholder="What's the title?" [(ngModel)]="formData.title.value"/>
      </div>

      <div class="input-container">
        <label for="description">Description</label>
        <textarea name="description" id="description" placeholder="Write a nice description." [(ngModel)]="formData.description.value"></textarea>
      </div>

      <div class="results-section">
        <h3>Results</h3>

        <ol>
          <li *ngFor="let result of formData.results; index as i">
            <app-input-component 
              [props]="resultModels[i]"  
              [ngValue]="formData.results[i].value" 
              (changeValue)="onChangeInput($event, 'results', i)"
            >
              <button 
                type="button" 
                aria-label="close button" 
                (click)="RemoveComponent('results')"
                *ngIf="formData.results.length === i + 1 && formData.results.length > 2"
              >
                <mat-icon aria-label="close icon" fontIcon="close" class="close-icon"></mat-icon>
              </button>
            </app-input-component>
          </li>
        </ol>

        <button type="button" (click)="AddComponent('results')">Add Result</button>
      </div>

      <div class="quizes-section">
        <h3>Quizes</h3>

        <div>
          <ol>
            <li *ngFor="let quiz of formData.quizes; index as i">
              <app-input-component 
                [props]="{title: 'Question ' + ( i + 1), id: 'quiz-title-' + (i + 1)}" 
                [ngValue]="quiz.title.value" 
                (changeValue)="onChangeInput($event, 'quizes', i, 'title')"
              >
                <button 
                  type="button" 
                  aria-label="close button" 
                  (click)="RemoveComponent('quizes', i)"
                  *ngIf="formData.quizes.length === i + 1 && formData.quizes.length > 1"
                >
                  <mat-icon aria-label="close icon" fontIcon="close" class="close-icon"></mat-icon>
                </button>
              </app-input-component>
              <ol>
                <li *ngFor="let option of formData.quizes[i].options; index as j">
                  <app-quiz-option-input-component 
                    [props]="{
                        title: 'Option ' + (j + 1), 
                        id: 'quiz-' + i +'-option-' + j, 
                        placeholder: quizesModels[j].placeholder
                      }" 
                    [ngValue]="formData.quizes[i].options[j].value"
                    (changeValue)="onChangeInput($event, 'quizes', i, 'options', j, 'value')"
                  />
                  <app-select-component 
                    [props]="{id: 'quiz-' + i + '-option-' + j + '-select', options: getResults()}" 
                    [ngValue]="formData.quizes[i].options[j].resultSelected"
                    (changeValue)="onChangeInput($event, 'quizes', i, 'options', j, 'resultSelected')"
                  />

                  <button 
                    type="button" 
                    aria-label="close button" 
                    (click)="RemoveComponent('options', i)"
                    *ngIf="formData.quizes[i].options.length === j + 1 && formData.quizes[i].options.length > 2"
                  >
                    <mat-icon aria-label="close icon" fontIcon="close" class="close-icon"></mat-icon>
                  </button>
                </li>
              </ol>

              <button type="button" (click)="AddComponent('options', i)">Add Option</button>
            </li>
          </ol>
        </div>

        <button type="button" (click)="AddComponent('quizes')">Add Quiz</button>
      </div>

      <button type="button" (click)="createFeed()">Create Feed</button>
    </form>
  </section>

  <app-footer></app-footer>
</div>
