section.feed-list {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4rem;
  min-height: 90vh;
}

section.feed-list > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

@media (max-width: 728px) {
  section.feed-list > ul {
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  section.feed-list > ul {
    gap: 1.5rem;
  }
}