section.feed-list {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 6rem;
}

section.feed-list > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;
}

section.feed-list > ul > li > a {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  border: 4px var(--yellow) solid;
  border-radius: 2rem;
  padding: 1.75rem 1.5rem;
  background-color: var(--white);
  color: var(--dark-purple);
  margin-inline: 4rem;
  box-shadow: var(--light-yellow) 8px 8px;
  transition: scale 200ms;
}

section.feed-list > ul > li > a:is(:hover, :focus) {
  scale: 1.025;
  transition: scale 200ms;
}

section.feed-list > ul > li > a > div.image {
  height: 12rem;
  border-radius: 0.75rem;
  background-color: var(--dark-purple);
  width: 30%;
}

section.feed-list > ul > li > a > div.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
}

section.feed-list > ul > li > a > div.content > h2 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

section.feed-list > ul > li > a > div.content > p {
  font-size: 1.125rem;
  text-align: justify;
}
