<section class="feed-list">
  <ul>
    <li>
      <a href="#">
          <div class="image"></div>
          <div class="content">
            <h2>Feed 1</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, eveniet, hic autem sit eaque iure explicabo asperiores quia perspiciatis dolor vel necessitatibus excepturi unde pariatur totam quam tempora, recusandae itaque?</p>
          </div>
      </a>
    </li>

    <li>
      <a href="#">
          <div class="image"></div>
          <div class="content">
            <h2>Feed 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, eum repudiandae aliquid dolore obcaecati eius eveniet necessitatibus blanditiis officia sequi maiores! Praesentium hic odio, ratione natus aspernatur eius nesciunt? Non?</p>
          </div>
      </a>
    </li>

    <li>
      <a href="#">
          <div class="image"></div>
          <div class="content">
            <h2>Feed 3</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, pariatur harum quod dicta cumque, accusamus nobis sed facilis repellat vero est velit inventore voluptatum asperiores maxime quis ullam corrupti sunt.</p>
          </div>
      </a>
    </li>
  </ul>
</section>