:root {
  --yellow: #f89b2e;
  --purple: #37366a;
  --button-purple: #2A2D50;
  --dark-purple: #20223d;
  --white: #fffeff;
  --red: #eb443b;

  --desktop-max-width: 80rem;
  --desktop-section-margin: 2rem
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

html, body { height: 100%; }

a {
  text-decoration: none;
  color: var(--white);
}

button, input {
  border: 0;
  background-color: transparent;
}

section {
  margin-inline: var(--desktop-section-margin);
}

@media (min-width: 1360px) {
  section {
    margin-inline: auto
  }
}

