div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div > div.input {
  display: flex;
  flex-direction: column;
  width: 55%;
}

div > div > label {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 1rem;
  margin-right: auto;
}

div > div > input {
  font-size: 1.125rem;
  color: var(--white);
  padding: 0.5rem;
  border-bottom: 2px var(--yellow) solid;
}

div > div > input:focus {
  outline: 2px var(--light-yellow) solid;
  border-radius: 0.25rem;
}

div > div.close-button-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

div > div.close-button-div > button {
  cursor: pointer;
}